:root{
 --cor-de-fundo: #000000;
}

.hamburger {
   cursor: pointer;
   width: 30px;
   height: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .bar {
   width: 100%;
   height: 4px;
   background-color: #333;
   transition: 0.3s;
 }

.B1 {
    color: #ffffff;
    background: #000000;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    background-color: var(--cor-de-fundo);
  }
  
  header {
    border-bottom: solid 2px #ff0000;
    padding: 20px;
    font-size: 32px;
    color: #4e32f0;
    position: fixed top;
    left:50%;
    }
  
  section {
    background: #000000;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 30px;
  }
  
  img {
    height: 200px;
  }
  
  .h2{
    margin-right: 5%;
    margin-top: 20%;
  }

  .Estranho{
   width: 100%;
   display: flex;
   overflow-x: auto;
   gap: 10px;
  }

